/* custom.less */

// contributed by Paul Hibbitts, see http://msdn.microsoft.com/en-us/library/ie/jj583807(v=vs.85).aspx
canvas {
    -ms-touch-action: auto;
}


/* Course styling */

.coursebox .enrolmenticons {
    border: 1px dotted #DDDDDD;
    .border-radius(3px);
    margin-top: 0.3em;
    padding: 3px;
}

.course-content ul li.section.main {
    border-bottom: 2px solid #eee;
    margin-top: 0px;
}

.course-content ul.topics li.section .content,
.course-content ul.weeks li.section .content {
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
}

.course-content {
    margin-top: 0px;
}

.course-content ul.topics li.section {
    padding-bottom: 20px;
}

.course-content ul.topics li.section .summary {
    margin-left: 25px;
}

.path-course-view .completionprogress {
    margin-left: 25px
}

.path-course-view .completionprogress {
    display: block;
    float: right;
    height: 20px;
    position: relative;
    z-index: 1000;
}

.tooltip {
    display: inherit;
    font-size: inherit;
    opacity: inherit;
    padding: inherit;
    position: relative;
    z-index: 1029;
}

select {
    width: auto;
}


.filemanager input[type="text"],
.file-picker input[type="text"] {
    border: 1px solid #CCCCCC;
    height: inherit;
    padding: inherit;
    width: inherit;
}

.filemanager select,
.file-picker select {
    height: inherit;
    padding: inherit;
}

#page-enrol-users .user-enroller-panel .uep-search-results .user .details
{
    width: 237px;
}

.userenrolment tbody tr:nth-child(odd) td,
.userenrolment tbody tr:nth-child(odd) th
{
    background-color: #f9f9f9;
}

.userenrolment .col_role .addrole {
    background-color: #DDDDDD;
    border: 1px outset #EEEEEE;
}

.path-mod-forum .forumheaderlist td {
    border: 1px solid #EEEEEE;
}

.path-mod-forum .forumheaderlist,
.forumpost {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    .border-radius(4px);
    .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.05) X);
}

.forumpost .row .left {
    float: left;
    width: 43px;
    overflow: hidden;
    margin-left: 3px;
}

.forumpost .row {
    margin-left: 0px;
}

.forumpost .subject {
    font-weight: bold;
}

#page-mod-forum-discuss .discussioncontrol.displaymode {
    text-align: left;
}

#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
    float: left;
}

/*quiz */
.que label {
    display: inline-block;
    margin-left: 5px;
}

.que input[type="checkbox"],.que input[type="radio"] {
    margin-right: 7px;
    margin-top: 0px;
}

/* Footer styling */
#page-footer {
    text-align: left;
    font-size: 1em;
    padding: 1em 0;
    border-top: 2px solid #eee;
}

#page-footer .logininfo,
#page-footer .sitelink,
#page-footer .helplink {
    margin: 0;
    padding: 0;
}

/* Login menu in top nav */
.logininfo,.langmenu {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.logininfo {
    padding-top: 10px;
    padding-right: 10px;
}

.logininfo a {
    color: #0088CC;
}

.langmenu form {
    margin: 0px;
}


/* login page */
.loginbox.twocolumns .loginpanel {
    border-right: 1px solid #EEEEEE;
}
.loginbox.twocolumns .loginpanel,
.loginbox.twocolumns .signuppanel {
    border: 0;
    margin: 0px;
    padding: 0px;
    float: none;
    width: none;
    .box-sizing(border-box);
    display: block;
    float: left;
    margin-left: 2.76243%;
    min-height: 30px;
}

@media (min-width : 1200px) {
    .loginbox.twocolumns .loginpanel {
        margin-left: 0px;
    }
    .loginbox.twocolumns .loginpanel,.loginbox.twocolumns .signuppanel {
        width: 48.717948717948715%;
       *width: 48.664757228587014%;
   }
}

@media ( min-width : 980px) {
    .loginbox.twocolumns .loginpanel {
        margin-left: 0px;
    }
    .loginbox.twocolumns .loginpanel,.loginbox.twocolumns .signuppanel {
        width: 48.617948717948715%;
       *width: 48.664757228587014%;
   }
}

@media ( min-width : 768px) and (max-width: 979px) {
    .loginbox.twocolumns .loginpanel {
          margin-left: 0px;
    }
    .loginbox.twocolumns .loginpanel,.loginbox.twocolumns .signuppanel {
        width: 48.61878453038674%;
        *width: 48.56559304102504%;
    }
}

 @media ( max-width : 767px) {
     .loginbox.twocolumns .loginpanel,.loginbox.twocolumns .signuppanel {
         display: block;
         float: none;
         width: 100%;
         margin-left: 0;
         .box-sizing(border-box);
     }
 }

 /* Course list */
 .coursebox {
     border-color: #ddd;
     border-style: dotted;
     border-width: 1px;
     .border-radius(4px);
     padding: 5px;
 }

 .coursebox h3.name {
     margin: 0px;
 }

 .coursebox .info,.coursebox .summary {
     border: 0;
     margin: 0px;
     padding: 0px;
     float: none;
     width: none;
     .box-sizing(border-box);
     display: block;
     float: left;
     margin-left: 2.76243%;
     min-height: 30px;
 }

 .coursebox .summary {
     margin-top: 5px;
 }

 .coursebox .info {
     margin-left: 0px;
 }

 @media ( min-width : 1200px) {
     .coursebox .info,.coursebox .summary {
         width: 48.717948717948715%;
                *width: 48.664757228587014%;
            }
        }

@media ( min-width : 980px) {
    .coursebox .info,.coursebox .summary {
        width: 48.617948717948715%;
               *width: 48.664757228587014%;
           }
       }

@media ( min-width : 768px) and (max-width: 979px) {
.coursebox .info,.coursebox .summary {
   width: 48.61878453038674%;
          *width: 48.56559304102504%;
      }
  }

  @media ( max-width : 767px) {
      .coursebox .info,.coursebox .summary {
          display: block;
          float: none;
          width: 100%;
          margin-left: 0;
          .box-sizing(border-box);
      }
  }

@media ( max-width : 480px) {
  .course-content ul.topics li.section .content,.course-content ul.weeks li.section .content
  {
      margin-right: 0px;
      margin-left: 0px;
      padding: 0;
  }
}

/* Calendar full view */
.maincalendar .calendarmonth td,.maincalendar .calendarmonth th {
    border-color: #DDDDDD;
    border-style: dotted;
    border-width: 1px;
}

/* Positioned 45 px below nav */
#page-header {
    margin-top: 45px;
}

#page-content-wrapper,
#page-header-wrapper {
    margin-top: 10px;
}

#dndupload-status {
    margin-top: 45px;
}

.headermain {
    float: left;
    font-size: 2.3em;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar-fixed-top {
    margin: 0px;
}

.nav-collapse.in .langmenu {
    float: left;
    margin-bottom: 5px;
}


@media ( min-width : 768px) {
  .logininfo,.langmenu {
      display: inline-block;
      float: right;
  }
  .logininfo,.langmenu {
      display: inline-block;
      float: right;
      margin-top: 2px;
  }
  .navbar .nav .nav {
      width: auto;
  }
}


// gradebook tooltip
div.yui3-overlay-content.yui3-widget-stdmod {
  border: 1px solid #DDDDDD;
  background: #FFF url([[pix:theme|alert-overlay]]) repeat-x;
  padding: 3px;
}


// Stuart's 2,1,3 layout

@media (min-width : 768px) {
  #region-pre {
      margin-left: 0;
  }
  .dir-ltr #page-content.row-fluid > section.span9,
  #page-content.row-fluid > div.span9 > .row-fluid > section.span8 {
      float: right;
  }
}
