.loginbox {
    .loginform {
        .form-group {
            label {
                text-align: left;
                width: 100%;
                margin-bottom: 5px;
            }
            .form-control {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }
    .desc {
        line-height: 30px;
        color: @text-color;
    }

    .subcontent {
        padding: 0;
        margin: 0;
    }
}
