.userprofile {
    padding-bottom: 15px;
    h2 {
        .panel-heading;
        font-size: 1.1em;
        margin: 0 0 10px 0;
        padding: 10px 15px;
    }
    .panel;
    .panel-default;
    .userprofilebox {
        .make-row();
        .profilepicture {
            .make-md-column(2);
            a {
                display: block;
                margin: 10px;
                img {
                    .img-rounded;
                }
            }
        }
        .descriptionbox {
            .make-md-column(10);
            .description {
                margin: 10px;
            }
        }
    }
    .fullprofilelink {
        text-align: center;
        margin: 10px;
    }
}
